.storiePost {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.profilePhoto.storie {
    background: #F7E7CE;
    height: 64px;
    aspect-ratio: 1 / 1;
    
    border-radius: 50%;
    border: solid 2px #FFD700;
    
    cursor: pointer;
}

.profileName.storie {
    height: auto;
    padding-top: 8px;
    
    font-family: sans-serif;
    font-size: 12px;
    
    cursor: pointer;
}
